In [2]:
import pandas as pd
import pyspark

In [4]:
pd.read_csv("test_1.csv")

      Name  Age
0  Pradeep   25
1     Ravi   22
2    Kumar   23
3    Kanna   43
4    Rayan   19
5      Rio   31

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/11 22:46:20 WARN Utils: Your hostname, DESKTOP-O3JU6DO, resolves to a loopback address: 127.0.1.1; using 172.25.43.62 instead (on interface eth0)
25/12/11 22:46:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/11 22:46:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [11]:
df=spark.read.csv("test_1.csv",header=True)
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Pradeep| 25|
|   Ravi| 22|
|  Kumar| 23|
|  Kanna| 43|
|  Rayan| 19|
|    Rio| 31|
+-------+---+

In [13]:
type(df)

pyspark.sql.classic.dataframe.DataFrame