In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Pratice').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/12 10:57:50 WARN Utils: Your hostname, DESKTOP-O3JU6DO, resolves to a loopback address: 127.0.1.1; using 172.25.43.62 instead (on interface eth0)
25/12/12 10:57:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/12 10:57:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [6]:
df=spark.read.csv('test_3.csv',header=True,inferSchema=True)
df.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Pal|  21|         2|200000|
|Pavi|NULL|         3|300000|
|Piya|  23|         3|  NULL|
| Pio|  34|      NULL|100000|
|NULL|  21|      NULL|  NULL|
+----+----+----------+------+

In [8]:
## Drop Columns
df.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|         2|200000|
|NULL|         3|300000|
|  23|         3|  NULL|
|  34|      NULL|100000|
|  21|      NULL|  NULL|
+----+----------+------+

In [9]:
df.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Pal| 21|         2|200000|
+----+---+----------+------+

In [13]:
df.na.drop(how="all").show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Pal|  21|         2|200000|
|Pavi|NULL|         3|300000|
|Piya|  23|         3|  NULL|
| Pio|  34|      NULL|100000|
|NULL|  21|      NULL|  NULL|
+----+----+----------+------+

In [14]:
df.na.drop(how="any").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Pal| 21|         2|200000|
+----+---+----------+------+

In [16]:
##threshold
df.na.drop(thresh=2).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Pal|  21|         2|200000|
|Pavi|NULL|         3|300000|
|Piya|  23|         3|  NULL|
| Pio|  34|      NULL|100000|
+----+----+----------+------+

In [17]:
df.na.drop(subset=['Name']).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Pal|  21|         2|200000|
|Pavi|NULL|         3|300000|
|Piya|  23|         3|  NULL|
| Pio|  34|      NULL|100000|
+----+----+----------+------+

In [23]:
### Filling the Missing Value
df.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|           Pal|  21|         2|200000|
|          Pavi|NULL|         3|300000|
|          Piya|  23|         3|  NULL|
|           Pio|  34|      NULL|100000|
|Missing Values|  21|      NULL|  NULL|
+--------------+----+----------+------+

In [25]:
df.na.fill(0,'Experience').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Pal|  21|         2|200000|
|Pavi|NULL|         3|300000|
|Piya|  23|         3|  NULL|
| Pio|  34|         0|100000|
|NULL|  21|         0|  NULL|
+----+----+----------+------+

In [31]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [32]:
# Add imputation cols to df
imputer.fit(df).transform(df).show()

+----+----+----------+------+-----------+------------------+--------------+
|Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
| Pal|  21|         2|200000|         21|                 2|        200000|
|Pavi|NULL|         3|300000|         24|                 3|        300000|
|Piya|  23|         3|  NULL|         23|                 3|        200000|
| Pio|  34|      NULL|100000|         34|                 2|        100000|
|NULL|  21|      NULL|  NULL|         21|                 2|        200000|
+----+----+----------+------+-----------+------------------+--------------+