In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("DataFrame").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/11 23:22:34 WARN Utils: Your hostname, DESKTOP-O3JU6DO, resolves to a loopback address: 127.0.1.1; using 172.25.43.62 instead (on interface eth0)
25/12/11 23:22:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/11 23:22:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/11 23:22:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [9]:
## read the dataset
df=spark.read.csv("test_2.csv",header=True, inferSchema=True)
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Rahul| 21|         2|
| Ravi| 22|         3|
|Rayan| 23|         3|
|  Rio| 34|         5|
+-----+---+----------+

In [10]:
## check the Schema
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
df.select("Name")

DataFrame[Name: string]

In [12]:
df.select("Name").show()

+-----+
| Name|
+-----+
|Rahul|
| Ravi|
|Rayan|
|  Rio|
+-----+

In [15]:
df.select(["Name","Experience"]).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Rahul|         2|
| Ravi|         3|
|Rayan|         3|
|  Rio|         5|
+-----+----------+

In [17]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [18]:
df.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [19]:
df.describe().show()

[Stage 12:>                                                         (0 + 1) / 1]

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| NULL|              25.0|              3.25|
| stddev| NULL|6.0553007081949835|1.2583057392117918|
|    min|Rahul|                21|                 2|
|    max|  Rio|                34|                 5|
+-------+-----+------------------+------------------+

In [20]:
## Adding the columns to DataFrame
df.withColumn('Experience after 2 years',df['Experience']+2).show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience after 2 years|
+-----+---+----------+------------------------+
|Rahul| 21|         2|                       4|
| Ravi| 22|         3|                       5|
|Rayan| 23|         3|                       5|
|  Rio| 34|         5|                       7|
+-----+---+----------+------------------------+

In [26]:
## Dropping Columns from the DataFrame
df.drop('Experience').show()

+-----+---+
| Name|Age|
+-----+---+
|Rahul| 21|
| Ravi| 22|
|Rayan| 23|
|  Rio| 34|
+-----+---+

In [30]:
## Renaming Columns
df.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Rahul| 21|         2|
|    Ravi| 22|         3|
|   Rayan| 23|         3|
|     Rio| 34|         5|
+--------+---+----------+